.header img {
    float: left;
    width: 130px;
    height: 130px;
    border-radius: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size:100px;
    color: #7DCEA0;
}
.header{
    background-color:darkmagenta;
}
h2{
    text-align: center;
    color: darkturquoise;
}
.box{
    margin: 20px auto;
    padding:0;
    height: 250px;
    width:90%;
    border:solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding: 0px 50px;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-size: contain;
}
.box:hover{
    box-shadow: 0 0 46px -10px rgba(0,0,0,0.7);
    border:solid #eee;
    width:96%;
}
/*     SHOW TEXT ON HOVER     */
.hidden{
    display: none;
    color: #000;
    font-size: 22px;
    color: #f7f7f7;
    text-shadow: 0px 0px 2px #000,
    0px 0px 2px #000,
    0px 0px 2px #000;
    -webkit-text-stroke: 0.1px #000;
}
.box:hover .hidden{
    display: block;
}
.box1{
    background-image: url("KYM\ LOGO2.jpeg");
}
.box1:hover{
    background-image: url("Logo3_pic.jpg");
}
.box2{
    background-image: url("plastics2.jpg");
}
.box2:hover{
    background-image: url("dreamstime_xxl_166298958.jpg");
}
.box3{
    background-image: url("Back_to_Basics_1\ \(1\).png");
}
.box3:hover{
    background-image: url("plastic-bagless-bin.jpg");
}   
.box4{
    background-image: url("plastic-recycling-955x500.png");
}
.box4:hover{
    background-image: url("recycle\ sustainability-green-illo-GettyImages-471257480-1540_0.jpg");
}
.box5{
    background-image: url("file-20190121-100270-1x9ccfo.jpg");
}
.box5:hover{
    background-image: url("Recycle-right-.jpg");
}
.paragraph{
    font-size: 50px;
    color: #f7f7f7;
    text-shadow: 0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000;
    -webkit-text-stroke: 0.4px #000;
}
a{
  text-decoration: none;
}